/*
=======================================
Global
=======================================
*/
/* Media query for iPhone 11 Pro (375px x 812px) */
@media screen and (max-width: 412px) {
  .center-logo {
    grid-column: 1 / span 3; /* Center the logo across the grid */
    max-width: 100px; /* Smaller size for mobile */
    margin-left: 30px;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: black;
  background-image: url("images/sky.gif");
  color: red;
  display: grid;
  grid-template-rows: 0.8fr 0.2fr;
  grid-template-areas:
    "main"
    "footer";
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/*
=======================================
Screen Reader Only
=======================================
*/

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

html {
  overflow: hidden;
  cursor: url("/images/cursor/Earth.ico"), auto;
}

/*
=======================================
Content
=======================================
*/
.mute {
  width: 35px !important;
  position: absolute;
  top: 5%; /* Adjust this value as needed */
  right: 5%; /* Adjust this value as needed */
}

#pause_button_div {
  margin-top: 40px;
}

#projects:hover {
  transform: scale(1.2);
}

main {
  grid-area: main;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  justify-content: center;
  align-content: center;
}
.center-logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  height: 175px;
  /* border: 1px solid white; */
}

.container {
  position: relative;
  /* border: 1px solid white; */
}

.planet {
  position: absolute;
}

.idea-box {
  grid-area: 2/3;
}

.idea {
  left: 15px;
  bottom: 60px;
}

.game-box {
  grid-area: 2/4;
}

.game {
  left: 30px;
  bottom: 80px;
}

.projects-box {
  grid-area: 2/2;
  width: 150px;
}

.projects {
  right: 75px;
  top: 10px;
}

.random-box {
  grid-area: 2/5;
}

.random {
  left: -30px;
  bottom: 30px;
}

.linkedin-box {
  grid-area: 3/1;
}

.linkedin {
  left: 15px;
}

.resume-box {
  grid-area: 3/5;
}

.resume {
  left: -10px;
  top: 40px;
}

.why-box {
  grid-area: 4/1;
}

.why {
  bottom: 50px;
  left: 20px;
}

.email-box {
  grid-area: 4/5;
}

.email {
  top: 15px;
  left: -50px;
}

.about-me-box {
  grid-area: 5/2;
}

.about-me {
  right: 30px;
  bottom: 80px;
}

.github-box {
  grid-area: 5/4;
}

.github {
  right: 40px;
  bottom: 52px;
}
.site-map-box {
  grid-area: 5/3;
}

.site-map {
  top: 19px;
  right: 20px;
}

/*
=======================================
Footer
=======================================
*/

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  color: red;
}
