@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  background: black;
  cursor: url("/images/cursor/visitor.ico"), auto;
  color: aliceblue;
  font-size: 16px;
  font-family: "Zilla Slab", serif;
}

.container {
  margin: 40px auto;
  max-width: 1000px;
  line-height: 1.6;
  font-size: 18px;
  color: #feff89;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.info {
  border: 2px #feff89 ridge;
  display: flex;
  width: 100%;
}

.icon {
  border-right: 2px #feff89 ridge;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 240px;
}

.site-map-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 100%; /* Make the logo responsive */
  height: auto;
}

.info-child {
  padding: 15px;
  flex: 1; /* Take the remaining space */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .info {
    flex-direction: column;
  }

  .icon {
    border-right: none;
    border-bottom: 2px #feff89 ridge; /* Change to bottom border */
    width: 100%; /* Make icon take full width on small screens */
    flex: none;
  }

  .info-child {
    width: 100%; /* Ensure the content also takes full width */
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}
